server:
  servlet:
    context-path: '/ead-authuser/'
  port: 8087

spring:
  application:
    name: ead-authuser-service
  datasource:
    url: jdbc:postgresql://localhost:5432/ead-authuser_v2
    username: postgres
    password: adm123
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          lob:
           non-contextual-creation: true
  output:
    ansi:
      enabled: Always
  rabbitmq:
    addresses: amqps://ojlkltdr:JtRaKYsd53EkNsxkO3yIJfBI6Hvf-DER@beaver.rmq.cloudamqp.com/ojlkltdr
ead:
  api:
    url:
      course: 'http://ead-course-service/ead-course'

logging:
  level:
    com.ead: TRACE
    root: INFO
    org.springframework.web: DEBUG
    org.hibernate: INFO

eureka:
  client:
    serviceUrl:
      defaultZone: 'http://localhost:8761/eureka'
  instance:
    hostname: localhost